
@{
    ViewData["Title"] = "ListStudents";
    Layout = "~/Views/Shared/_TeacherLayout.cshtml";
}

@using EntityLayer.Concrete
@model List<LessonStudent>


<h1>List Students</h1>

@*<div class="form-group">
    <label class="control-label"> Select City</label>
    <select name="lesson" class="form-control" asp-items=@ViewBag.dersler></select>
</div>*@



<table class="table table-dark col-10  mx-auto">
    <tr>
        <th>Lesson ID</th>
        <th>Lesson Name</th>
        <th>Student Name</th>
        <th>Student LastName</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <th>@item.LessonID</th>
            <td>@item.Lesson.Name</td>
            <td>@item.Student.Name</td>
            <td>@item.Student.LastName</td>
        </tr>
    }

</table>
