
@{
    ViewData["Title"] = "CreateLesson";
    Layout = "~/Views/Shared/_TeacherLayout.cshtml";
}



<form class="form-check ">

    <label>Lesson Name</label><br />
    <input type="text" placeholder="Example Math" />
    <br />
    <label>Lesson Credit</label><br />
    <input type="number" placeholder="Example 1" />
    <br />
    <label>Teacher Name</label><br />
    <input type="combobox" placeholder="Example Hüseyin" value="ahmet,mehmet"/>
    <br />
    <label>Teacher ID</label><br />
    <input type="hidden" placeholder="Example 1" />

</form>




